<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="container">
    <div class="alert alert-info">
      <%= image_tag("simplify.gif", size: '150x100', class: 'pull-right') %>
		  <h1 style="color: #fff; margin-left: 450px">Águas D'itália</h1>
      <p align="left">
        <% if current_user %>
          <b style="color: #fff">Logado como <u><%= current_user.name %></u> | <%= link_to "Sair", '/sair', style: 'color: #fff' %></b>
        <% else %>
          <b style="color: #fff"><%= link_to 'Entrar', root_path %> | <%= link_to 'Cadastre-se', '/cadastrar' %></b>
        <% end %>
      </p>
    </div>
    <div align="center" class="col-md-12">
      <div class="col-md-3">
        <h2>Clientes</h2>
        <%= link_to "Ver Clientes", clients_path, class: 'btn btn-primary' %>
      </div>
      <div class="col-md-3">
        <h2>Produtos</h2>
        <%= link_to "Ver Produtos", products_path, class: 'btn btn-primary' %>
      </div>
      <div class="col-md-3">
        <h2>Marcas</h2>
        <%= link_to "Ver Marcas", brands_path, class: 'btn btn-primary' %>
      </div>
      <div class="col-md-3">
        <h2>Pedidos</h2>
        <%= link_to "Ver Pedidos", orders_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</body>
</html>