<div class="container">
  <h1 class="page-header"><span class="glyphicon glyphicon-zoom-in"> 
  Pedido: <%=@order.id%> </span></h1>
    <div>
      <label>Data:</label>
      <%= @order.date %>
    </div>
    <div>
      <label>Quantidade:</label>
      <%= @order.quantity %>
    </div>
    <div>
      <label>Valor:</label>
      <%= @order.value %>
    </div>
  <%= link_to 'Voltar', orders_path, class: 'btn btn-default' %>
</div>