<div class="container">
  <h1 class="page-header"><span class="glyphicon glyphicon-edit"> 
  Editar Marca </span></h1>
  <%= form_for :brand, url: brand_path(@brand), method: :patch do |f| %>
    <% if @brand.errors.any? %>
      <div class= "alert alert-danger" id="error_explanation">
        <ul>
          <h2>
            Ops!
          </h2>
          <% @brand.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group">
      <div class="col-md-12">  
        <%= f.label 'Nome' %><br>
        <div class="col-md-4">
          <%= f.text_field :name , class: 'form-control'%>
        </div>
      </div><br/>
     
      <div class="col-md-12">
        <%= f.submit 'Atualizar', class: 'btn btn-success' %>
        <%= link_to 'Voltar', brands_path, class: 'btn btn-default' %>
      </div>
    </div> 
  <% end %>
</div>