<div class="container">
  <h1 class="page-header"><span class="glyphicon glyphicon-zoom-in"> 
  Produto: <%=@product.name%> </span></h1>
    <div>
    	<label>Nome:</label>
    	<%= @product.name %>
    </div>
    <div>
    	<label>Quantidade:</label>
    	<%= @product.quantity %>
    </div>
    <div>
    	<label>Preço:</label>
    	<%= number_with_precision(@product.price, precision: 2) %>
    </div>
    <div>
      <label>Marca:</label>
      <%= @product.brand ? @product.brand.name : 'marca via api' %>
    </div>
  <%= link_to 'Voltar', products_path, class: 'btn btn-default' %>
</div>